body{

font-family:Arial;
background:#111;
color:white;

}

#character-grid{

display:flex;
flex-wrap:wrap;
gap:20px;

}

.char-card{

width:120px;
text-align:center;
text-decoration:none;
color:white;

}

.char-card img{

width:100%;
border-radius:6px;

}

#faction-grid{

display:flex;
flex-wrap:wrap;
gap:20px;

}

.faction-card{

width:120px;
text-align:center;
text-decoration:none;
color:white;

}

.faction-card img{

width:100%;
border-radius:6px;

}

#story-grid{

display:flex;
flex-wrap:wrap;
gap:20px;

}

.story-card{

width:120px;
text-align:center;
text-decoration:none;
color:white;

}

.story-card img{

width:100%;
border-radius:6px;

}

#characters-list{

display:flex;
flex-wrap:wrap;
gap:20px;

}