<!-- FOOTER -->
<footer class="site-footer">
  <div class="site-banner">

    <div class="footer-text">
        Asatyrk © All rights reserved | 2026
    </div>

    <nav class="site-footer-nav" aria-label="Main navigation">

      <a href="index.html">
        <span>Home</span>
      </a>
      <span class="footer-spacer">|</span>

      <a href="index.html">
        <span>Home</span>
      </a>
      <span class="footer-spacer">|</span>

      <a href="index.html">
        <span>Home</span>
      </a>

    </nav>

  </div>
</footer>