<!-- Image Banner -->
<div class="image-banner">
  <img src="https://placehold.co/600x300" alt="Description of banner">
</div>

<!-- Contents -->
<details class="contents">
  <summary class="contents__toggle">Contents</summary>

  <ol class="contents__list">
    <li>
      <a href="#NAME">NAME</a>
    </li>
    <!-- Add more here -->
  </ol>
</details>

<!-- Example of content headers: -->
<h2 id="NAME" class="text-box__title">
  <a href="#NAME">NAME</a>
</h2>

<div class="text-box">
  <p class="text-box__text">
    Section content...
  </p>
</div>

<!-- Plain Text Box -->
<div class="text-box">
  <h2 class="box__title">Title</h2>

  <p class="text-box__text">
    This is a plain text box. It can contain as much text as needed
    and will naturally grow vertically.
  </p>
  <br>

  <p class="text-box__text">
    Additional paragraphs can be added here.
  </p>

</div>

<!-- Button -->
<a href="#" class="basic-button">Button 1</a>

<!-- Multiple Button Row -->
<div class="button-row">
  <a href="#" class="basic-button">Button 1</a>
  <a href="#" class="basic-button">Button 2</a>
  <a href="#" class="basic-button">Button 3</a>
</div>

<!-- Plain Image Box -->
<div class="box box--image">
  <img class="box__image" src="https://placehold.co/400" alt="Description">
</div>

<!-- Image left, text right -->
<div class="box box--image-left">
  <img class="box__image" src="https://placehold.co/400" alt="Description">

  <div class="box__content">
    <h2 class="box__title">Title</h2>
    <p class="box__text">
      Text goes here. The text can become as long as necessary
      without affecting the size of the image.
    </p>
  </div>
</div>

<!-- Text left, image right -->
 <div class="box box--image-right">
  <div class="box__content">
    <h2 class="box__title">Title</h2>
    <p class="box__text">
      Text goes here. The text can become as long as necessary
      without affecting the size of the image.
    </p>
  </div>

  <img class="box__image" src="https://placehold.co/400" alt="Description">
</div>

<!-- Image above, text below -->
<div class="box box--image-top">
  <img class="box__image" src="https://placehold.co/400" alt="Description">

  <div class="box__content">
    <h2 class="box__title">Title</h2>
    <p class="box__text">
      Text goes here. The image remains fixed at 140 × 140px
      regardless of how much text is added.
    </p>
  </div>
</div>

<!-- Double Image, Text -->
<div class="box box--double-image">
  <img class="box__image" src="https://placehold.co/400" alt="Description">

  <div class="box__content">
    <h2 class="box__title">Title</h2>
    <p class="box__text">
      Text goes here. This section can grow vertically without
      stretching or distorting either image.
    </p>
  </div>

  <img class="box__image" src="https://placehold.co/400" alt="Description">
</div>

<!-- Double Image -->
 <div class="box box--double-image">
  <img class="box__image" src="https://placehold.co/400" alt="Description">
  <img class="box__image" src="https://placehold.co/400" alt="Description">
</div>